{% extends "base.html" %}

{% block title %}Мировые запчасти{% endblock %}

{% block content %}

    <div class="order_num_div">
        <p class="order_num">Заказ №{{ id }}</p>
        <form action="{{ id }}/delete_order" class="delete_order_div"  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="order_id" value="{{ id }}"/>
            {% if can_delete == 'True' %}
            <input type="submit" value="Удалить заявку" class="delete_order_btn">
            {% endif %}
        </form>
    </div>

    <div class="date_place_div">
        <p class="order_date">Заказ на: {{ date_for }}</p>
        <p class="order_place">Адрес доставки: {{ place_for }}</p>
    </div>

    {% comment %} <div class="place">

    </div> {% endcomment %}

    <div class="order_items_div">

        {% for var in items %}

        <div class="items_div">

            <img class="img_item" src="{{ var.img }}">

            <p class="name_item">{{ var.name_spare }}</p>
            <p class="price_item">{{ var.count }} шт.</p>
            <p class="price_item">{{ var.price }} ₽</p>

        </div>

        {% empty %}
        <p>Заявка удалена</p>
        {% endfor %}

    </div>

    <div class="texttest">
    
    </div> 

{% endblock %}